/* CSS Document */

@media screen and (max-width: 768px) {

  .sign_up_button {
    text-align: center !important;
  }
}

.chksubmittext {
	 float:left;
	 width:95%;
	 padding-top:  0px;
	 padding-bottom: 20px;
	 display: inline;
}

.chksubmit {
	float:left;
	width:25px;
}

.emailchksubmit {
    display: inline;
}

ul {
	list-style-type: none;	
}

#list_newsletter_type {
	list-style-type: none;
}

#autocomplete {
	background-color: #fff;
}
#autocomplete li {
	margin: 0;
}

.afmaa_text {
    padding-top: 20px;   
}
